@import "./chakraBreakpoints.scss";

.images {
  --image-opacity: 0;

  position: relative;
}

.active {
  --image-opacity: 1;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: var(--image-opacity);
  transition: opacity 0.6s;
  width: 100%;
  height: auto;
}

.accordion {
  @media screen and (min-width: $lg) {
    padding-right: 98px;
  }
  button {
    --border-color: var(--chakra-colors-capri-300);
    --border-width: 4px;

    padding: 16px 20px 16px 0;
    transition: border 0.2s;
    border-top-color: var(--border-color);
    border-top-width: var(--border-width);

    @media screen and (min-width: $md) {
      --border-color: var(--chakra-colors-granite-300);
      --border-width: 2px;

      padding: 16px 20px 16px 0;
    }

    &[aria-expanded="true"] {
      --border-color: var(--chakra-colors-capri-300);
      --border-width: 4px;

      color: var(--chakra-colors-capri-300);
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.panel.panel {
  padding: 8px 0 0;
}

.accordionItem.accordionItem {
  &:last-of-type {
    border-bottom-color: var(--chakra-colors-granite-300);
    border-bottom-width: 2px;
  }
}
