@import "./textstyles";

.primaryButton {
  display: inline-flex;
  justify-content: center;
  background-color: var(--chakra-colors-capri-300);
  padding: 16px;
  min-width: 144px;
  border-radius: 4px;
  transition: background-color 0.2s;

  &:hover:hover,
  &:focus:focus {
    text-decoration: none;
    background-color: var(--chakra-colors-capri-100);
  }
}

.primaryButtonSmall {
  display: inline-flex;
  justify-content: center;
  background-color: var(--chakra-colors-capri-300);
  padding: 12px;
  min-width: 112px;
  border-radius: 4px;
  transition: background-color 0.2s;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--chakra-colors-capri-100);
  }
}
