@import "./textstyles";
.richText {
  strong {
    color: var(--chakra-colors-capri-300);
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }

  h1 {
    margin-top: 0.25em;
    margin-bottom: 0.533333333em;
    margin-left: 0;
    margin-right: 0;
  }
  h2 {
    &:not(:first-child) {
      margin-top: 2.133333333em;
    }
    margin-bottom: 0.533333333em;
    margin-left: 0;
    margin-right: 0;
  }
  h3 {
    &:not(:first-child) {
      margin-top: 2.133333333em;
    }
    margin-bottom: 0.533333333em;
    margin-left: 0;
    margin-right: 0;
  }
  h4 {
    margin-top: 0.25em;
    margin-bottom: 0.533333333em;
    margin-left: 0;
    margin-right: 0;
  }
  h5 {
    margin-top: 0.25em;
    margin-bottom: 0.533333333em;
    margin-left: 0;
    margin-right: 0;
  }
  h6 {
    margin-top: 0.25em;
    margin-bottom: 0.533333333em;
    margin-left: 0;
    margin-right: 0;
  }
  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }
  img {
    max-width: 100%;
    margin: auto;
    margin-bottom: 1em;
  }

  blockquote {
    display: block;
  }

  *:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
  }
}
